<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924373234165-q72q1ioajhth3bag2o4mo63r54e52bef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924373234165-q72q1ioajhth3bag2o4mo63r54e52bef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>924373234165-2qme0tkssq5cislc9oe66arg695hej3i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVT8VaI70MKhpTJTQcYK-hwSaT8219vuE</string>
	<key>GCM_SENDER_ID</key>
	<string>924373234165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sluv.celebit</string>
	<key>PROJECT_ID</key>
	<string>celebit-sluv</string>
	<key>STORAGE_BUCKET</key>
	<string>celebit-sluv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924373234165:ios:a2d059eec1dfa39f1b70bc</string>
</dict>
</plist>